*/1 *   * * *   ubuntu  bash /home/ubuntu/kktrade/main/database/bybit/monitor.sh
0   3   * * *   ubuntu  sleep 10 && pkill python
0   3   * * *   ubuntu  /home/ubuntu/venv/bin/python /home/ubuntu/kktrade/main/log/remove.py --path /home/ubuntu/kktrade/main/log/*YYYYMMDD.log --rm --ut `date "+\%Y\%m\%d" --date '7 day ago'`