*/1 *   * * *   ubuntu  bash ${HOMETRADE}/main/database/bybit/monitor.sh
0   2   * * *   ubuntu  cd ${HOMETRADE}/main/database/bybit   && nohup python download_pastdata.py --fr `date "+\%Y\%m\%d" --date '2 day ago'` --to `date "+\%Y\%m\%d" --date '1 day ago'` --num 10000 --fn trade --fname bybit.gz --update > ${HOMETRADE}/main/log/bybit_download.`date "+\%Y\%m\%d"`.log 2>&1 &
# 0   2   * * *   ubuntu  cd /home/ubuntu/kktrade/main/database/bybit   && nohup python download_pastdata.py --fr `date "+\%Y\%m\%d" --date '7 day ago'` --to `date "+\%Y\%m\%d" --date '6 day ago'` --db --chunk 200000 --num 2000 --fn trade --update > ../../log/bybit_download.`date "+\%Y\%m\%d"`.log   2>&1 &