HOMETRADE="/home/ubuntu/kktrade"
PYTHONPATH=${HOMETRADE}/venv/bin
# below path must be not used !!!environment variable!!!. x ${PYTHONPATH}:/usr/local/nvi... o /root/master/bin:/usr/local/nvi...
PATH=/home/ubuntu/kktrade/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

0   0   * * *   ubuntu  sleep 10 && pkill uvicorn && sleep 5 && bash ${HOMETRADE}/main/database/dbapi.sh
0 */1   * * *   ubuntu  bash ${HOMETRADE}/main/database/dbapi.sh
0   0   * * *   ubuntu  sleep 50 && pkill python
0   0   * * *   ubuntu  python ${HOMETRADE}/main/log/remove.py --path ${HOMETRADE}/main/log/*YYYYMMDD.log --rm --ut `date "+\%Y\%m\%d" --date '7 day ago'`
0   0   * * *   ubuntu  python ${HOMETRADE}/main/log/remove.py --path ${HOMETRADE}/main/log/dbapi.YYYYMMDD*.log --rm --ut `date "+\%Y\%m\%d" --date '2 day ago'`